.link,
.activeLink,
.parentLink {
    display: block;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 5%;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.parentLink {
    width: 80%;
    background-color: purple;
    color: white;
}

.link {
    width: 70%;
    background-color: #00ff87;
    color: #37003c;
}

.activeLink {
    width: 95%;
    background-color: white;
    color: #37003c;
}

.link:hover {
    cursor: pointer;
}

.sidebar {
    background-color: #B0C4DE;
}