.week-overview-table {
    width: 100%;
    border-style: groove;
    table-layout: fixed;
}

tr {
    border-style: groove;
    border-spacing: 1px;
}

td {
    text-align: center;
}

.table-container {
    margin: 10px;
}